<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramenstudios.react" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelpPage"
            android:label="@string/title_activity_help_page"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" >
        </activity>
        <activity
            android:name=".CountdownPage"
            android:label="@string/title_activity_countdown_page"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" >
        </activity>
        <activity
            android:name=".GamePage"
            android:label="@string/title_activity_game_page"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" >
        </activity>
        <activity
            android:name=".ResultsPage"
            android:label="@string/title_activity_results_page"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme">
        </activity>
    </application>

</manifest>
